.cvApp {
  display: grid;
  grid-template-areas: "cvForm cvPreview";
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
  padding: 30px 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  margin: 0px;
}

.cvForm {
  grid-area: cvForm;
  justify-self: center;
  display: block;
}

.cvPreview {
  background: linear-gradient(
    124deg,
    #5c360d 5%,
    #000 29%,
    #000 73%,
    #5c360d 94%
  );
  box-shadow: 0 5px 15px #5c360d, 0 -5px 30px #5c360d;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  grid-area: cvPreview;
  height: fit-content;
  padding: 15px 75px 0 85px;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  width: 21cm;
  display: block;
}

.WorkDetails,
.EducationDetails,
.skillsForm, .projectForm {
  display: flex;
  flex-direction: column;
}

.personalDetails,
.WorkDetailsList,
.EducationDetailsList,
.skillsFormList, .projectFormList {
  margin-top: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  border-radius: 18px;
  padding: 16px;
  width: 500px;
  /* max-width: 200px; */
}

.WorkDetailsList li,
.EducationDetailsList li,
.skillsFormList li, .projectFormList li{
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
  box-shadow: none;
  border: 4px solid silver;
}

.WorkDetailsList li input,
.EducationDetailsList li input,
.skillsFormList li input,
.skillsFormList li textarea,
.skillsFormList li button,
.projectFormList li input,
.projectFormList li textarea,
.projectFormList li button,
.personalDetails input,
.WorkDetailsList li textarea,
.EducationDetailsList li textarea {
  background-color: black;
  color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid silver;
}

.WorkDetailsList li button,
.EducationDetailsList li button {
  margin: 8px;
  padding: 8px;
  border-radius: 16px;
  background-color: black;
  color: white;
  border: 2px solid silver;
}

.personalDetailsDisplay {
  display: flex;
  flex-direction: column;
}

.headerName {
  flex: 1;
  text-align: center;
}

.headerDetails {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
}

.displayWorkDetails,
.displayEducationDetails {
  /* border: 1px solid silver; */
  /* border-radius: 20px; */
}
.displayWorkDetails ul,
.displayEducationDetails ul {
  display: flex;
  flex-direction: column;
}

.displayWorkDetails ul li,
.displayEducationDetails ul li {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
  box-shadow: none;
  border: 4px solid silver;
}

.expSectionTwo,
.expSectionOne {
  display: flex;
  justify-content: space-between;
}

.expSection {
  display: flex;
  gap: 0px;
}

.expSectionThree {
  padding: 8px;
}

.expSectionThree ol li {
  border: none;
  margin: 0px;
  padding: 0px;
}

.expSectionTwo p,
.duration p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.skillDisplaySection {
  display: flex;
  padding: 2px;
}
